Repository Magora-Systems-Frontend/react_university: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

.lintstagedrc:

{
  "src/**/*.js": [
    "npm run prettier:windows",
    "npm run lint:js",
    "git add"
  ],
  "**/*.scss": [
    "npm run prettier",
    "npm run lint:style",
    "git add"
  ]
}

[+] FRONTEND-144: return footer logo
  src/components/Footer/index.js
  src/components/Footer/style.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: remove antd
  package.json
  public/index.html
  src/components/Footer/index.js
  src/index.js
Due: npm run prettier:windows, npm run lint:js

[+] FRONTEND-144: add SSR
  package.json
  public/favicon.ico
  public/index.html
  server/config/constants.js
  server/index.js
  server/routes/home-page/index.js
  server/routes/root.js
  server/utils/fetch.js
  server/utils/serverRender.js
  src/components/Carousel/ItemCourse/index.js
  src/components/Icon/index.js
  src/components/Sections/TopCategories/index.js
  src/index.js
  src/pages/Root/index.js
  src/routes.js
  src/store.js
  src/styles/app.scss
  src/template.html
  src/utils/reducerInjectors.js
  webpack/webpack.common.js
  webpack/webpack.development.js
  webpack/webpack.production.js
  webpack/webpack.server.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: add request on ssr, rework scripts, change readme
  README.md
  package.json
  server/routes/home-page/index.js
  src/components/Sections/TopCategories/index.js
  src/pages/Root/index.js
Due: npm run prettier:windows, npm run lint:js

Frontend-144
  src/components/ButtonCoursesType/index.js
  src/components/Carousel/ItemComment/index.js
  src/components/Carousel/ItemCourse/index.js
  src/components/Carousel/index.js
  src/components/CarouselCourses/index.js
  src/components/Dropdown/EmptyCart/index.js
  src/components/Dropdown/Menu/index.js
  src/components/Footer/index.js
  src/components/Footer/lang.json
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Comments/index.js
  src/reducers.js
Due: npm run prettier:windows, npm run lint:js

Frontend-144
  src/components/Carousel/ItemComment/index.js
  src/components/Carousel/ItemCourse/Item/index.js
  src/components/Carousel/ItemCourse/Item/item.scss
  src/components/Carousel/ItemCourse/Popover/index.js
  src/components/Carousel/ItemCourse/Popover/popover.scss
  src/components/Carousel/ItemCourse/index.js
  src/components/Carousel/ItemCourse/item.scss
  src/components/Carousel/carousel.scss
  src/components/Dropdown/Menu/index.js
  src/components/Footer/index.js
  src/components/Footer/logo.svg
  src/components/FormFields/TextField/index.js
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/index.js
  src/components/Header/invite/HeaderInvite.js
  src/components/Header/search/HeaderSearch.js
  src/components/MobileLeftMenu/index.js
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Comments/index.js
  src/components/Sections/Courses/index.js
  src/components/Sections/FindCourse/FindCourse.js
  src/components/Sections/FindCourse/SearchForm.js
  src/components/Sections/NonStudents/index.js
  src/components/Sections/Recommendations/index.js
  src/components/Sections/TopCategories/index.js
  src/pages/HomePage/actions.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-146
  src/components/Button/style.scss
  src/components/ButtonCoursesType/button.scss
  src/components/Carousel/ItemComment/item.scss
  src/components/Carousel/ItemCourse/Item/item.scss
  src/components/Carousel/ItemCourse/Popover/popover.scss
  src/components/Carousel/carousel.scss
  src/components/CarouselCourses/carousel.scss
  src/components/Dropdown/EmptyCart/style.scss
  src/components/Dropdown/Menu/style.scss
  src/components/Dropdown/style.scss
  src/components/ErrorBoundary/index.js
  src/components/ErrorBoundary/index.styled.js
  src/components/Footer/style.scss
  src/components/FormFields/TextField/index.js
  src/components/FormFields/TextField/style.scss
  src/components/Header/cart/style.scss
  src/components/Header/header.scss
  src/components/Header/index.js
  src/components/Header/search/header-search.scss
  src/components/Icon/index.js
  src/components/MainWrapper/index.js
  src/components/MainWrapper/index.styled.js
  src/components/MobileLeftMenu/style.scss
  src/components/Sections/Advantages/advantages.scss
  src/components/Sections/Comments/index.scss
  src/components/Sections/Courses/courses.scss
  src/components/Sections/FindCourse/SearchForm.js
  src/components/Sections/FindCourse/find-course.scss
  src/components/Sections/FindCourse/search-form.scss
  src/components/Sections/NonStudents/style.scss
  src/components/Sections/Partners/style.scss
  src/components/Sections/Recommendations/recommendations.scss
  src/components/Sections/TopCategories/index.scss
  src/components/index.js
  src/pages/App/index.js
  src/pages/App/index.styled.js
  src/pages/HomePage/index.js
  src/pages/Root/index.js
  src/styles/_variables.scss
  src/styles/app.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-200
  package.json
  src/template.html
Due: none

Frontend-200
  package.json
Due: none

Frontend-200
  json-server/server.js
Due: none

Frontend-200
  package.json
  server.js
Due: none

Frontend-200
  src/components/Sections/Courses/courses.scss
Due: npm run prettier, npm run lint:style

Frontend-200
  bin/env.js
  json-server/server.js
  src/config/constants.js
  webpack/webpack.development.js
Due: npm run prettier:windows, npm run lint:js

Frontend-200
  src/utils/api/axiosClient.js
Due: npm run prettier:windows, npm run lint:js

Frontend-200
  bin/env.js
  json-server/server.js
  webpack/webpack.development.js
Due: none

Frontend-200
  server/config/constants.js
  src/config/constants.js
  src/index.js
  src/utils/api/axiosClient.js
Due: npm run prettier:windows, npm run lint:js

Frontend-200
  src/utils/api/axiosClient.js
  webpack/webpack.production.js
Due: npm run prettier:windows, npm run lint:js

Frontend-200
  webpack/webpack.production.js
Due: none

Frontend-200
  json-server/server.js
  package.json
  webpack/webpack.development.js
Due: none

Frontend-200
  json-server/server.js
  package.json
Due: none

Frontend-200
  json-server/server.js
  server.js
  webpack/webpack.development.js
Due: none

Frontend-200
  Procfile
  package.json
Due: none

Frontend-200
  package.json
  src/config/constants.js
  src/utils/api/axiosClient.js
Due: npm run prettier:windows, npm run lint:js
