Repository Magora-Systems-Frontend/react_university: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

begin
  package.json
  src/components/FormFields/TextField/index.js
  src/components/Header/cart/HeaderCart.js
  src/components/Header/cart/lang.json
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/catalog/catalog.scss
  src/components/Header/catalog/lang.json
  src/components/Header/index.js
  src/components/Header/invite/HeaderInvite.js
  src/components/Header/invite/lang.json
  src/components/Header/lang.json
  src/components/Header/search/HeaderSearch.js
  src/components/Header/search/header-search.scss
  src/components/Header/search/lang.json
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Advantages/advantages.scss
  src/components/Sections/FindCourse/FindCourse.js
  src/components/Sections/FindCourse/SearchForm.js
  src/components/Sections/FindCourse/find-course.scss
  src/components/Sections/FindCourse/on-education.jpg
  src/components/index.js
  src/pages/HomePage/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

rework header
  src/components/ButtonColored/index.js
  src/components/ButtonColored/style.scss
  src/components/Dropdown/EmptyCart/index.js
  src/components/Dropdown/EmptyCart/style.scss
  src/components/Dropdown/Menu/index.js
  src/components/Dropdown/Menu/style.scss
  src/components/Dropdown/index.js
  src/components/Dropdown/style.scss
  src/components/FormFields/TextField/index.js
  src/components/FormFields/TextField/style.scss
  src/components/Header/cart/HeaderCart.js
  src/components/Header/cart/lang.json
  src/components/Header/cart/style.scss
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/catalog/catalog.scss
  src/components/Header/catalog/lang.json
  src/components/Header/controls/HeaderControls.js
  src/components/Header/controls/header-controls.scss
  src/components/Header/header.scss
  src/components/Header/index.js
  src/components/Header/invite/HeaderInvite.js
  src/components/Header/invite/lang.json
  src/components/Header/logo.svg
  src/components/Header/search/HeaderSearch.js
  src/components/Header/search/header-search.scss
  src/components/Header/search/lang.json
  src/components/Wrapper/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] FRONTEND-126,128,129,130: add header search, mobile header, find courses block, advantages block
  src/components/ButtonColored/index.js
  src/components/ButtonColored/style.scss
  src/components/Dropdown/index.js
  src/components/Dropdown/style.scss
  src/components/FormFields/TextField/index.js
  src/components/FormFields/TextField/style.scss
  src/components/Header/cart/HeaderCart.js
  src/components/Header/cart/lang.json
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/controls/lang.json
  src/components/Header/header.scss
  src/components/Header/index.js
  src/components/Header/invite/HeaderInvite.js
  src/components/Header/invite/style.scss
  src/components/Header/lang.json
  src/components/Header/search/HeaderSearch.js
  src/components/Header/search/header-search.scss
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Advantages/advantages.scss
  src/components/Sections/Advantages/lang.json
  src/components/Sections/FindCourse/FindCourse.js
  src/components/Sections/FindCourse/SearchForm.js
  src/components/Sections/FindCourse/find-course.scss
  src/components/Sections/FindCourse/lang.json
  src/components/Sections/FindCourse/on-education.jpg
  src/components/Sections/FindCourse/search-form.scss
  src/components/Wrapper/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-109,110,111,114,115,127,133 - create courses and slider block - done
  json-server/db.json
  src/components/ButtonCoursesType/button.scss
  src/components/Carousel/carousel.scss
  src/components/Carousel/index.js
  src/components/CarouselCourses/index.js
  src/components/Courses/courses.scss
  src/components/Courses/index.js
  src/components/ItemCourse/index.js
  src/components/ItemCourse/item.scss
  src/config/constants.js
  src/pages/HomePage/actions.js
  src/pages/HomePage/reducer.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] FRONTEND-131: add mobile left menu
  src/components/ButtonColored/index.js
  src/components/ButtonColored/style.scss
  src/components/Header/header.scss
  src/components/Header/index.js
  src/components/MobileLeftMenu/index.js
  src/components/MobileLeftMenu/lang.json
  src/components/MobileLeftMenu/style.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] FRONTEND-136: add sponsors block
  src/components/Sections/Partners/index.js
  src/components/Sections/Partners/lang.json
  src/components/Sections/Partners/style.scss
  src/components/index.js
  src/pages/HomePage/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] FRONTEND-138: add nonstudent block
  src/components/Sections/NonStudents/index.js
  src/components/Sections/NonStudents/lang.json
  src/components/Sections/NonStudents/style.scss
  src/components/Sections/Partners/style.scss
  src/components/index.js
  src/pages/HomePage/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-135,142,141 - complete
  json-server/db.json
  src/components/Carousel/index.js
  src/components/Comments/index.js
  src/components/Comments/index.scss
  src/components/Courses/courses.scss
  src/components/ItemCategory/index.js
  src/components/ItemCategory/item.scss
  src/components/ItemComment/index.js
  src/components/ItemComment/item.scss
  src/components/ItemCourse/item.scss
  src/components/Recommendations/index.js
  src/components/Recommendations/recommendations.scss
  src/components/TopCategories/index.js
  src/components/TopCategories/index.scss
  src/components/index.js
  src/config/constants.js
  src/pages/HomePage/actions.js
  src/pages/HomePage/index.js
  src/pages/HomePage/reducerCategories.js
  src/pages/HomePage/reducerComments.js
  src/reducers.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] FRONTEND-140, 143: add footer
  package.json
  src/components/Fields/Select/index.js
  src/components/Fields/Select/styles.js
  src/components/Fields/index.js
  src/components/Footer/index.js
  src/components/Footer/lang.json
  src/components/Footer/logo.svg
  src/components/Footer/style.scss
  src/components/index.js
  src/pages/App/index.js
  src/pages/Root/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

fix search form input
  src/components/FormFields/TextField/index.js
  src/components/Header/search/HeaderSearch.js
  src/components/Sections/FindCourse/SearchForm.js
Due: npm run prettier:windows, npm run lint:js

Frontend-141 - correct slider arrow
  src/components/Carousel/carousel.scss
Due: npm run prettier, npm run lint:style

[+]FRONTEND-144: refactor project
  package.json
  src/components/Fields/Select/styles.js
  src/components/Footer/index.js
  src/components/Footer/style.scss
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/invite/lang.json
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Advantages/advantages.scss
  src/components/Sections/Comments/index.js
  src/components/Sections/Comments/index.scss
  src/components/Sections/Courses/courses.scss
  src/components/Sections/Courses/index.js
  src/components/Sections/FindCourse/FindCourse.js
  src/components/Sections/FindCourse/find-course.scss
  src/components/Sections/FindCourse/search-form.scss
  src/components/Sections/NonStudents/index.js
  src/components/Sections/NonStudents/style.scss
  src/components/Sections/Partners/index.js
  src/components/Sections/Partners/style.scss
  src/components/Sections/TopCategories/ItemCategory/index.js
  src/components/Sections/TopCategories/ItemCategory/item.scss
  src/components/Sections/TopCategories/index.js
  src/components/Sections/TopCategories/index.scss
  src/components/Sections/sections.scss
  src/components/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+]FRONTEND-144: fix select, rework package.json
  package.json
  src/components/Button/style.scss
  src/components/Fields/Select/styles.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: revision package
  package.json
  src/components/Sections/Comments/lang.json
  src/components/Sections/TopCategories/lang.json
  src/components/Sections/sections.scss
Due: npm run prettier, npm run lint:style

[+] FRONTEND-144: fix laws display
  src/components/Footer/style.scss
Due: npm run prettier, npm run lint:style

Frontend-144
  src/styles/_variables.scss
Due: npm run prettier, npm run lint:style

[+] FRONTEND-144: return nodemon
  package.json
Due: none

Frontend-144
  package.json
  src/components/Carousel/ItemCourse/index.js
  src/components/Carousel/ItemCourse/item.scss
  src/components/Footer/index.js
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/index.js
  src/components/Header/invite/HeaderInvite.js
  src/components/Header/search/HeaderSearch.js
  src/components/MobileLeftMenu/index.js
  src/components/Sections/Advantages/Advantages.js
  src/components/Sections/Comments/index.js
  src/components/Sections/Courses/index.js
  src/components/Sections/FindCourse/FindCourse.js
  src/components/Sections/FindCourse/SearchForm.js
  src/components/Sections/NonStudents/index.js
  src/components/Sections/Recommendations/index.js
  src/components/Sections/TopCategories/index.js
  src/config/constants.js
  src/pages/HomePage/actions.js
  src/pages/HomePage/reducerLanguage.js
  src/reducers.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: fix footer
  public/index.html
  src/components/Footer/index.js
  src/components/Footer/style.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: add build script
  package.json
  public/index.html
  src/utils/api/axiosClient.js
Due: npm run prettier:windows, npm run lint:js

[+] FRONTEND-144: rework devDependencies and dependencies
  README.md
  package.json
Due: none

[+] FRONTEND-144: fix footer and scripts
  README.md
  package.json
  src/components/Footer/index.js
  src/components/Footer/style.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: change readme.md
  README.md
Due: none

[+] FRONTEND-144: change package
  package.json
  public/index.html
  src/components/Carousel/ItemCourse/index.js
  src/components/Sections/Courses/index.js
  src/routes.js
Due: npm run prettier:windows, npm run lint:js

Frontend-144
  package.json
Due: none

[+] FRONTEND-144: add Icon
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Icon/assets/logo.svg
  src/components/Icon/icon.sass
  src/components/Icon/index.js
  src/components/index.js
  src/routes.js
Due: npm run prettier:windows, npm run lint:js

Frontend-144 - copy svg
  src/assets/icons/arrow-left.svg
  src/assets/icons/arrow-right.svg
  src/assets/icons/bar-chart.svg
  src/assets/icons/calculator.svg
  src/assets/icons/camera.svg
  src/assets/icons/check.svg
  src/assets/icons/clock-circle.svg
  src/assets/icons/contacts.svg
  src/assets/icons/control.svg
  src/assets/icons/dashboard.svg
  src/assets/icons/deployment.svg
  src/assets/icons/desktop.svg
  src/assets/icons/edit.svg
  src/assets/icons/environment.svg
  src/assets/icons/form.svg
  src/assets/icons/gateway.svg
  src/assets/icons/heart.svg
  src/assets/icons/lock.svg
  src/assets/icons/paper-clip.svg
  src/assets/icons/play-circle.svg
  src/assets/icons/profile.svg
  src/assets/icons/project.svg
  src/assets/icons/search.svg
  src/assets/icons/shake.svg
  src/assets/icons/shopping-cart.svg
  src/assets/icons/sound.svg
  src/assets/icons/user.svg
  src/assets/icons/wifi.svg
Due: none

[+] FRONTEND-144: remove Form and Item from antd
  src/components/Dropdown/index.js
  src/components/FormFields/TextField/index.js
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Icon/assets/calendar.svg
  src/components/Icon/index.js
  src/components/index.js
  src/reducers.js
  src/store.js
Due: npm run prettier:windows, npm run lint:js

Frontend-144 - copy svg
  package.json
  public/index.html
  src/assets/icons/icons.woff2
  src/components/Header/catalog/HeaderCatalog.js
  src/components/Icon/assets/logo.svg
  src/components/Icon/index.js
  src/components/index.js
  src/styles/_variables.scss
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: remove antd Icons
  src/index.js
Due: npm run prettier:windows, npm run lint:js

[+] FRONTEND-144: change partners logo format
  src/assets/images/partners/adidas-logo.png
  src/assets/images/partners/adidas-logo.svg
  src/assets/images/partners/booking-logo.png
  src/assets/images/partners/booking-logo.svg
  src/assets/images/partners/eventbrite-logo.png
  src/assets/images/partners/eventbrite-logo.svg
  src/assets/images/partners/mercedes-logo.png
  src/assets/images/partners/mercedes-logo.svg
  src/assets/images/partners/pinterest-logo.png
  src/assets/images/partners/pinterest-logo.svg
  src/assets/images/partners/volkswagen-logo.png
  src/assets/images/partners/volkswagen-logo.svg
  src/components/Sections/Partners/index.js
Due: npm run prettier:windows, npm run lint:js

[+] FRONTEND-144: fix recomendations icons hidden
  src/components/Sections/Recommendations/recommendations.scss
Due: npm run prettier, npm run lint:style

Frontend-144 - correct popover
  package.json
  src/components/Carousel/ItemCourse/index.js
  src/components/Carousel/ItemCourse/item.scss
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] FRONTEND-144: rework dropdown
  public/.python-version
  public/1.6f8eb56d3c7c6088390d.chunk.js
  public/2.62db27e0de77be533064.chunk.js
  public/icons/angle-right-grey.svg
  public/icons/angle-right-white.svg
  public/icons/check-success.svg
  public/icons/it_blue.svg
  public/icons/logo.svg
  public/icons/search.svg
  public/icons/star.svg
  public/icons/x-error.svg
  public/images/overlay.png
  public/main.82229165245704716bb0.js
  src/components/Dropdown/Menu/index.js
  src/components/Dropdown/Menu/style.scss
  src/components/Dropdown/index.js
  src/components/Dropdown/style.scss
  src/components/Header/catalog/HeaderCatalog.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Path conditions:
  npm run prettier:windows: any of: src/**/*.js
  npm run lint:js: any of: src/**/*.js
  npm run prettier: any of: **/*.scss
  npm run lint:style: any of: **/*.scss
