Repository Magora-Systems-Frontend/react_university: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --fix, npm run prettier, stylelint --syntax scss

continue facebook login
  src/components/Login/form/index.js
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

continue facebook login
  json-server/handlers/users/loginFacebook/loginFacebook.js
  json-server/routes/user_routes/user_routes.js
  package-lock.json
  src/components/Login/index.js
  src/config/constants.js
  src/pages/App/actions.js
  src/utils/facebookAuth/index.js
Due: eslint --ext .js --fix, npm run prettier

continue facebook login
  README.md
  json-server/handlers/users/loginFacebook/loginFacebook.js
  src/components/Login/index.js
  src/utils/facebookAuth/index.js
Due: eslint --ext .js --fix, npm run prettier

mini fix
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

#111126
  json-server/config/consts.js
  json-server/handlers/users/loginVK/loginVK.js
  json-server/routes/user_routes/user_routes.js
  package-lock.json
  package.json
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

add access token verification to server
  json-server/handlers/users/loginFacebook/loginFacebook.js
  package-lock.json
  package.json
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

Added git hooks (linter)
  package.json
Due: none

remove package-lock.json
  package-lock.json
Due: none

Linter / Prettier configurations
  .lintstagedrc
  .prettierrc
  package.json
Due: none

mini fix package.json
  package.json
Due: none

mini login index.js
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

mini fix login index.js
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

add form recovery password and page create new
  json-server/handlers/users/password/passwordRecovery.js
  json-server/handlers/users/password/passwordSet.js
  json-server/routes/user_routes/user_routes.js
  src/components/CommonModals/CommonModals.js
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/PasswordRecoveryModal/index.js
  src/components/Login/form/index.js
  src/components/Login/index.js
  src/components/MainMenu/index.js
  src/components/PasswordRecovery/form/index.js
  src/components/PasswordRecovery/index.js
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/form/index.sass
  src/components/PasswordSet/index.js
  src/components/index.js
  src/config/constants.js
  src/pages/App/actions.js
  src/pages/PasswordSetPage/Loadable.js
  src/pages/PasswordSetPage/index.js
  src/routes.js
Due: eslint --ext .js --fix, npm run prettier

fix prettier error
  src/styles/global/_variables-extra.scss
Due: npm run prettier, stylelint --syntax scss

fix some errors
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/SignUpModal/index.js
  src/index.js
Due: eslint --ext .js --fix, npm run prettier

fix scss
  .eslintrc
  .stylelintrc.json
  src/styles/app/_app.scss
  src/styles/app/_footer.scss
  src/styles/app/_header.scss
  src/styles/global/_variables-bootstrap.scss
  src/styles/global/_variables-extra.scss
  src/styles/layout/_content-layout.scss
  src/styles/ui/_grid.scss
  src/styles/ui/_overlay.scss
  src/styles/ui/_utilities.scss
  src/styles/vendors/_react.scss
Due: npm run prettier, stylelint --syntax scss

fix some errors
  src/components/FormFields/DatePickerField/index.js
  src/components/FormFields/FileField/index.js
  src/components/FormFields/SelectField/index.js
  src/components/Header/index.js
  src/components/Login/form/index.js
  src/components/Login/index.js
  src/components/MainMenu/index.js
Due: eslint --ext .js --fix, npm run prettier

fix some errors
  .eslintrc
Due: none

fix some errors
  .eslintrc
  src/components/Header/index.js
  src/components/Login/form/index.js
  src/components/Login/index.js
Due: eslint --ext .js --fix, npm run prettier

fix signup
  src/components/SignUp/index.js
Due: eslint --ext .js --fix, npm run prettier

test lint
  src/components/Header/index.js
Due: eslint --ext .js --fix, npm run prettier

fix errors by prettier
  src/components/CommonModals/CommonModals.js
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/PasswordRecoveryModal/index.js
  src/components/CommonModals/SignUpModal/index.js
  src/components/FormFields/DatePickerField/index.js
  src/components/FormFields/FileField/index.js
  src/components/FormFields/SelectField/index.js
  src/components/Header/index.js
  src/components/Login/form/index.js
  src/components/Login/index.js
  src/components/MainMenu/index.js
  src/components/PasswordRecovery/form/index.js
  src/components/PasswordRecovery/index.js
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/index.js
  src/components/RegistrationForm/form/index.js
  src/components/SignUp/form/signUp.js
  src/components/SignUp/form/signUpPhone.js
  src/components/SignUp/index.js
  src/config/constants.js
  src/index.js
  src/pages/App/actions.js
  src/pages/PasswordSetPage/index.js
  src/routes.js
  src/styles/ui/_grid.scss
  src/styles/ui/_overlay.scss
Due: eslint --ext .js --fix, npm run prettier, stylelint --syntax scss

fix errors by prettier
  .lintstagedrc
  src/components/Header/index.js
Due: eslint --ext .js --fix, npm run prettier

fix errors by prettier
  .eslintrc
Due: none

fix errors by prettier
  .eslintrc
  .lintstagedrc
  src/components/Header/index.js
Due: eslint --ext .js --fix, npm run prettier

fix errors by prettier
  .lintstagedrc
Due: none

fix errors by prettier
  src/components/Header/index.js
Due: eslint --ext .js --fix, npm run prettier

fix errors by prettier
  src/components/index.js
  src/index.js
Due: eslint --ext .js --fix, npm run prettier

fix errors by prettier
  src/components/index.js
Due: eslint --ext .js --fix, npm run prettier

fix prettierrc
  .prettierrc
Due: none

Path conditions:
  eslint --ext .js --fix: any of: src/**/*.js
  npm run prettier: (any of: src/**/*.js) or (any of: **/*.scss)
  stylelint --syntax scss: any of: **/*.scss
