Repository Magora-Systems-Frontend/react_university: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

.lintstagedrc:

{
  "src/**/*.js": [
    "npm run prettier:windows",
    "npm run lint:js",
    "git add"
  ],
  "**/*.scss": [
    "npm run prettier",
    "npm run lint:style",
    "git add"
  ]
}

fix prettier script
  .lintstagedrc
  package.json
Due: none

#111126
  README.md
  json-server/handlers/users/loginVK/loginVK.js
  public/template.html
  src/components/Login/index.js
Due: npm run prettier:windows, npm run lint:js

fix several errors by prettier
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/PasswordRecoveryModal/index.js
  src/components/CommonModals/SignUpModal/index.js
  src/components/CommonModals/_CommonModalComponents/TitleWithTextButton/index.js
  src/components/FormFields/FileField/index.js
  src/components/FormFields/SelectField/index.js
  src/components/FormFields/TextField/index.js
  src/components/LoadingIndicator/Circle.js
  src/components/Login/form/index.js
  src/components/Login/index.js
  src/components/MainMenu/index.js
  src/components/MainWrapper/index.js
  src/components/PasswordRecovery/form/index.js
  src/components/PasswordRecovery/index.js
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/index.js
  src/components/RegistrationForm/form/index.js
  src/components/RegistrationForm/index.js
  src/components/SignUp/form/signUp.js
  src/components/SignUp/form/signUpPhone.js
  src/components/SignUp/index.js
  src/lib/validation.js
  src/routes.js
  src/utils/api/axiosClient.js
  src/utils/googleAuth/index.js
  src/utils/injectReducer.js
  src/utils/localStorage/index.js
Due: npm run prettier:windows, npm run lint:js

fix axios proxy from '/**' to '/api/**' change server urls
  json-server/routes/user_routes/user_routes.js
  src/config/constants.js
  src/pages/UserProfile/Loadable.js
  src/pages/UserProfile/index.js
  src/routes.js
  src/utils/api/axiosClient.js
  webpack/webpack.development.js
Due: npm run prettier:windows, npm run lint:js

fix eslint errors
  package-lock.json
  src/components/Login/index.js
Due: npm run prettier:windows, npm run lint:js

change header sass files to scss
  public/main.82229165245704716bb0.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/controls/header-controls.sass
  src/components/Header/controls/header-controls.scss
  src/components/Header/header.sass
  src/components/Header/header.scss
  src/components/Header/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

change header sass files to scss
  src/components/Header/user-controls/HeaderUserControls.js
  src/config/constants.js
  src/routes.js
Due: npm run prettier:windows, npm run lint:js

add mock user
  json-server/db.json
  json-server/defaultDB.json
  json-server/handlers/users/login/login.js
  json-server/routes.json
  json-server/server.js
  package.json
  src/components/Header/controls/HeaderControls.js
Due: npm run prettier:windows, npm run lint:js

start user-profile
  src/components/Header/user-controls/HeaderUserControls.js
  src/config/constants.js
  src/pages/UserProfile/actions.js
  src/pages/UserProfile/index.js
  src/pages/UserProfile/reducer.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-86 correct server.js
  json-server/server.js
Due: none

FRONTEND-77 correct credentials and keys
  README.md
  json-server/config/consts.js
  public/template.html
Due: none

[+] #FRONTEND-82 Start edit profile page
  src/components/EditProfileForm/form/edit-profile-form.scss
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/index.js
  src/components/Header/user-controls/HeaderUserControls.js
  src/components/index.js
  src/pages/UserProfileEdit/Loadable.js
  src/pages/UserProfileEdit/index.js
  src/routes.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] #FRONTEND-82 Complete validation
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/form/validate.js
  src/components/FormFields/TextField/index.js
  src/lib/validation.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-59 fix google and facebook auth init
  src/index.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-82 fix datePickerField
  src/components/FormFields/DatePickerField/index.js
Due: npm run prettier:windows, npm run lint:js

[+] #FRONTEND-82 add success popup
  src/components/EditProfileForm/index.js
Due: npm run prettier:windows, npm run lint:js

[+] #FRONTEND-82 add user to db.json after google login
  json-server/config/consts.js
  json-server/handlers/users/loginGoogle/loginGoogle.js
Due: none

FRONTEND-86 added view profile user
  README.md
  json-server/db.json
  json-server/defaultDB.json
  json-server/handlers/users/loginVK/loginVK.js
  src/components/Header/user-controls/HeaderUserControls.js
  src/pages/App/reducer.js
  src/pages/UserProfile/actions.js
  src/pages/UserProfile/index.js
  src/pages/UserProfile/reducer.js
  src/pages/UserProfile/user.scss
  src/reducers.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[+] #FRONTEND-88 add country -> cityField component to registration form
  json-server/handlers/countries/data.js
  json-server/handlers/countries/getCities/getCities.js
  json-server/handlers/countries/getCountries/getCountries.js
  json-server/routes/cointries_routes/countries_routes.js
  json-server/routes/index.js
  src/components/FormFields/CityField/index.js
  src/components/FormFields/index.js
  src/components/FormFieldsSimple/CityFieldSimple/index.js
  src/components/RegistrationForm/form/index.js
  src/components/index.js
  src/config/constants.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-86 added view profile user
  src/pages/UserProfile/index.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-86 added view profile user
  json-server/db.json
  json-server/defaultDB.json
  src/pages/UserProfile/index.js
Due: npm run prettier:windows, npm run lint:js

[-] #FRONTEND-89 Remove unused debug items and comments
  src/components/EditProfileForm/index.js
  src/components/FormFields/FileField/index.js
  src/components/FormFields/SelectField/index.js
  src/components/FormFields/TextField/index.js
  src/components/Login/index.js
  src/components/RegistrationForm/index.js
  src/pages/App/reducer.js
  src/utils/googleAuth/index.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-89 Move Pages imports/exports to index.js
  src/index.js
  src/pages/App/index.js
  src/pages/HomePage/index.js
  src/pages/NotFoundPage/index.js
  src/pages/PasswordSetPage/index.js
  src/pages/RegistrationFormPage/index.js
  src/pages/Root/index.js
  src/pages/UserProfile/index.js
  src/pages/UserProfileEdit/index.js
  src/pages/index.js
  src/routes.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-90 added actions type constants
  src/components/FormFields/TextField/index.js
  src/components/Login/index.js
  src/config/constants.js
  src/pages/App/actions.js
  src/pages/App/reducer.js
  src/pages/UserProfile/actions.js
  src/pages/UserProfile/reducer.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-95 fix webpack conf [*] #FRONTEND-89 Move constants to separate file
  .babelrc
  src/config/constants.js
  src/index.js
  src/pages/App/reducer.js
  src/utils/localStorage/index.js
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-93 consts to separate file [*] #FRONTEND-89 Mini eslint fix
  .eslintrc
  src/components/ErrorBoundary/index.js
  src/components/Header/user-controls/HeaderUserControls.js
  src/components/Login/index.js
  src/components/MainWrapper/index.js
  src/components/SignUp/index.js
  src/components/index.js
  src/pages/HomePage/reducer.js
  src/pages/PasswordSetPage/index.js
  src/pages/Root/index.js
Due: npm run prettier:windows, npm run lint:js

[+] #FRONTEND-96 add Redux-logger middleware
  src/config/constants.js
  src/store.js
  src/utils/reduxLoggerMiddleware.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-94 added contextTypes, defaultProps, propTypes
  src/components/CommonModals/CommonModals.js
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/PasswordRecoveryModal/index.js
  src/components/CommonModals/SignUpModal/index.js
  src/components/CommonModals/_CommonModalComponents/TitleWithTextButton/index.js
  src/components/CommonModals/actions.js
  src/components/CommonModals/reducer.js
  src/components/FormFieldsSimple/CityFieldSimple/index.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/user-controls/HeaderUserControls.js
  src/components/LoadingIndicator/Circle.js
  src/components/Login/form/index.js
  src/components/Login/index.js
  src/components/PasswordRecovery/form/index.js
  src/components/PasswordRecovery/index.js
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/index.js
  src/components/RegistrationForm/form/index.js
  src/components/SignUp/form/signUp.js
  src/components/SignUp/form/signUpPhone.js
  src/components/SignUp/index.js
  src/config/constants.js
  src/pages/App/index.js
  src/pages/HomePage/index.js
  src/pages/RegistrationFormPage/index.js
  src/pages/UserProfileEdit/index.js
Due: npm run prettier:windows, npm run lint:js

[+] #FRONTEND-97 Connect "Edit user profile" to Redux
  package.json
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/index.js
  src/components/FormFields/DatePickerField/index.js
  src/components/FormFields/SelectField/index.js
  src/components/FormFieldsSimple/FileFieldSimple/index.js
  src/components/FormFieldsSimple/index.js
  src/components/RegistrationForm/form/index.js
  src/components/index.js
  src/pages/App/actions.js
Due: npm run prettier:windows, npm run lint:js

[+] #FRONTEND-97 Connect "Edit user profile" to Redux
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/index.js
  src/components/FormFields/FileField/index.js
  src/components/FormFieldsSimple/FileFieldSimple/index.js
  src/components/RegistrationForm/form/index.js
  src/components/RegistrationForm/index.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-99 Add FormWrapper component
  src/components/EditProfileForm/form/edit-profile-form.scss
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/index.js
  src/components/FormWrapper/index.js
  src/components/FormWrapper/index.styled.js
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/form/index.sass
  src/components/PasswordSet/index.js
  src/components/RegistrationForm/form/index.js
  src/components/RegistrationForm/form/registration-form.sass
  src/components/index.js
  src/pages/RegistrationFormPage/index.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] #FRONTEND-100 add usage function updateState
  src/pages/App/reducer.js
  src/pages/UserProfile/reducer.js
Due: npm run prettier:windows, npm run lint:js

FRONTEND-98 start adding files
  src/components/PasswordRecovery/form/index.js
  src/components/PasswordRecovery/index.js
  src/components/PasswordRecovery/lang.json
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/index.js
  src/components/PasswordSet/lang.json
  src/components/RegistrationForm/form/index.js
  src/components/RegistrationForm/lang.json
  src/components/SignUp/form/signUp.js
  src/components/SignUp/index.js
  src/components/SignUp/lang.json
  src/pages/UserProfile/index.js
  src/pages/UserProfile/lang.json
Due: npm run prettier:windows, npm run lint:js

add lang
  src/components/CommonModals/LoginModal/index.js
  src/components/CommonModals/LoginModal/lang.json
  src/components/CommonModals/PasswordRecoveryModal/index.js
  src/components/CommonModals/PasswordRecoveryModal/lang.json
  src/components/CommonModals/SignUpModal/index.js
  src/components/CommonModals/SignUpModal/lang.json
  src/components/CommonModals/reducer.js
  src/components/EditProfileForm/form/edit-profile-form.scss
  src/components/EditProfileForm/form/index.js
  src/components/EditProfileForm/form/lang.json
  src/components/EditProfileForm/index.js
  src/components/EditProfileForm/lang.json
  src/components/FormWrapper/index.js
  src/components/FormWrapper/index.styled.js
  src/components/Header/controls/HeaderControls.js
  src/components/Header/controls/lang.json
  src/components/Header/index.js
  src/components/Header/lang.json
  src/components/Header/user-controls/HeaderUserControls.js
  src/components/Header/user-controls/lang.json
  src/components/Login/index.js
  src/components/Login/lang.json
  src/components/MainMenu/index.js
  src/components/MainMenu/lang.json
  src/components/PasswordSet/form/index.js
  src/components/PasswordSet/form/index.sass
  src/components/PasswordSet/index.js
  src/components/RegistrationForm/form/index.js
  src/components/RegistrationForm/form/registration-form.sass
  src/components/index.js
  src/pages/App/reducer.js
  src/pages/RegistrationFormPage/index.js
  src/pages/UserProfile/reducer.js
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

[*] #FRONTEND-98 add lang.json files
  src/components/Login/form/index.js
Due: npm run prettier:windows, npm run lint:js

[*] #FRONTEND-89 Fix lang.json file
  src/components/Header/controls/lang.json
Due: none

[*] #FRONTEND-89 Fix antd version in package.json
  package.json
Due: none

[+] #FRONTEND-101 package.json revision
  package.json
  src/components/Header/controls/lang.json
Due: none

[*] #FRONTEND-89 delete unused presets from package.json
  package.json
Due: none

[*] #FRONTEND-102 resolve issue with react-hot-loader
  package.json
  webpack/webpack.development.js
Due: none
