Repository Magora-Systems-Frontend/react_university: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-200
  Procfile
  README.md
Due: none

Frontend-200
  README.md
Due: none

href={null}
  src/components/Dropdown/EmptyCart/index.js
  src/components/Dropdown/Menu/index.js
  src/components/Footer/index.js
  src/components/MobileLeftMenu/index.js
  src/components/Sections/NonStudents/index.js
  src/components/Sections/Partners/index.js
Due: npm run prettier:windows, npm run lint:js

service worker
  .eslintignore
  package.json
  src/index.js
  src/sw.js
  src/template.html
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js

service worker
  package.json
  src/assets/manifest.json
  src/index.js
  src/template.html
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - create new branch
  webpack/webpack.common.js
Due: none

Frontend-216 - correct service worker settings
  server.js
  src/assets/manifest.json
  src/template.html
Due: none

Frontend-216 - correct service worker settings
  src/components/Header/index.js
  src/components/Icon/index.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - correct service worker settings
  src/template.html
Due: none

Frontend-216 - correct service worker settings
  server.js
  src/index.js
  src/sw.js
  src/template.html
  webpack/webpack.common.js
  webpack/webpack.development.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - correct service worker settings
  src/sw.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - correct service worker settings
  package.json
  server.js
  src/sw.js
  webpack/webpack.common.js
  webpack/webpack.development.js
  webpack/webpack.production.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - correct service worker settings
  package.json
  src/template.html
Due: none

Frontend-216 - correct service worker settings
  src/sw.js
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js

Frontend-216 - correct service worker settings
  package.json
  src/assets/manifest.json
  src/styles/layout/_base-layout.scss
  src/sw.js
  src/template.html
Due: npm run prettier:windows, npm run lint:js, npm run prettier, npm run lint:style

Frontend-216 - correct service worker settings
  webpack/webpack.common.js
Due: none

Frontend-216 - correct service worker settings
  src/assets/manifest.json
  webpack/webpack.common.js
Due: none

Frontend-216 - correct service worker settings
  src/assets/manifest.json
  src/template.html
Due: none

Frontend-262 - create assetlinks.json
  src/.well-known/assetlinks.json
  webpack/webpack.common.js
Due: none

Frontend-262 - create assetlinks.json
  package.json
  src/index.js
  src/pages/Root/index.js
  src/template.html
  webpack/webpack.common.js
Due: npm run prettier:windows, npm run lint:js

Frontend-262 - create assetlinks.json
  package.json
  webpack/webpack.common.js
Due: none

Frontend-262 - create assetlinks.json
  webpack/webpack.common.js
Due: none

Frontend-262
  package.json
  webpack/webpack.production.js
Due: none

Frontend-262
  webpack/webpack.production.js
Due: none

Frontend-262
  src/pages/Root/index.js
  src/template.html
Due: npm run prettier:windows, npm run lint:js

Frontend-262
  server.js
  src/assets/images/london-eye.jpeg
  src/assets/images/on-education.jpg
  src/assets/images/partners/adidas-logo.png
  src/assets/images/partners/booking-logo.png
  src/assets/images/partners/eventbrite-logo.png
  src/assets/images/partners/mercedes-logo.png
  src/assets/images/partners/pinterest-logo.png
  src/assets/images/partners/volkswagen-logo.png
  src/assets/images/react-logo.png
  src/sw.js
Due: npm run prettier:windows, npm run lint:js

Frontend-262
  mobile/app-release.apk
Due: none

[*]FRONTEND-300: add first tests
  __mocks__/styleMock.js
  package.json
  src/components/Button/Button.spec.js
  src/components/Button/__snapshots__/Button.spec.js.snap
  src/components/Button/index.js
  src/components/ButtonCoursesType/ButtonCourses.spec.js
  src/components/ButtonCoursesType/__snapshots__/ButtonCourses.spec.js.snap
  src/components/ButtonCoursesType/index.js
  src/components/Dropdown/index.js
Due: npm run prettier:windows, npm run lint:js

[*]FRONTEND-300: added tests for ButtonCoursesType component
  src/components/ButtonCoursesType/ButtonCourses.spec.js
  src/components/ButtonCoursesType/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for Dropdown component
  jest.config.js
  package.json
  src/components/Dropdown/Dropdown.spec.js
  src/components/Dropdown/__snapshots__/Dropdown.spec.js.snap
  src/components/Dropdown/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for menu Dropdown component
  src/components/Dropdown/Menu/Menu.spec.js
  src/components/Dropdown/Menu/__snapshots__/Menu.spec.js.snap
  src/components/Dropdown/Menu/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added test for ErrorBoundary component
  src/components/ErrorBoundary/ErrorBoundart.spec.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for Footer component
  __mocks__/fileMock.js
  jest.config.js
  src/components/Footer/Footer.spec.js
  src/components/Footer/__snapshots__/Footer.spec.js.snap
  src/components/Footer/index.js
  src/pages/App/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for Header component
  src/components/FormFields/TextField/index.js
  src/components/Header/Header.spec.js
  src/components/Header/__snapshots__/Header.spec.js.snap
  src/components/Header/index.js
  src/mocks/matchMedia.mock.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for Header component
  src/pages/App/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for MobileLeftMenu component
  src/components/Header/Header.spec.js
  src/components/MobileLeftMenu/MobileLeftMenu.spec.js
  src/components/MobileLeftMenu/__snapshots__/MobileLeftMenu.spec.js.snap
  src/components/MobileLeftMenu/index.js
Due: npm run prettier:windows, npm run lint:js

[+]FRONTEND-300: added tests for actionCreators component
  src/__mocks__/matchMedia.mock.js
  src/components/Header/Header.spec.js
  src/pages/HomePage/actions.spec.js
Due: npm run prettier:windows, npm run lint:js

Path conditions:
  npm run prettier:windows: any of: src/**/*.js
  npm run lint:js: any of: src/**/*.js
  npm run prettier: any of: **/*.scss
  npm run lint:style: any of: **/*.scss
